/* Estilos gerais */
body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

img{
    display: block;
    max-width: 100%;
}

.btn{
    border: 3px solid  #fec63e;
    padding: 10px 30px;
    color:  #fec63e;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.btn:hover{
    color: white;
    border-color: white;
}

.btn_preto:hover{
    color: black;
    border-color: black;
}

.subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 60px;
}

.subtitulo::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: black;
    margin: 10px auto;
}

.subtitulo_interno{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 30px;
}

.subtitulo_interno::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: black;
    margin: 10px 0;
}

/* Header */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fec63e;
    padding: 15px 0;
    z-index: 10;
}

.logo{
    padding-top: 5px;
}

.header_menu{
    text-align: right;
}

.header_menu ul li{
    margin-left: 10px;
    margin-top: 25px;
    display: inline-block;
}

.header_menu ul li a{
    margin-right: 20px;
    color: black;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}

.header_menu ul li a:hover{
    color: white;
}


/* Banner Introdução */
.introducao {
    width: 100%;
    height: 380px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 97px;
    text-align: center;
    padding-top: 80px;
}

.introducao h1{
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-externo{
    max-width: 320px;
    margin: 0 auto 40px auto;
    color: white;
    
}

.quote-externo p{
    font-style: italic;
}

.quote-externo p::before, .quote-externo p::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: white;
    margin: 14px auto;
}

.quote-externo cite{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
}

/* Introdução Interna */
.introducao_interna{
    width: 100%;
    margin-top: 97px;
    height: 160px;
    text-align: center;
    color: white;
    padding-top: 30px;
}

.introducao_interna h1{
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.introducao_interna h1::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: white;
    margin: 10px auto;
}

/* Produtos */

.produtos_lista li{
    background-color: #fec63e;
    margin-top: 40px;
    text-align: center;
}

.produtos_lista li img{
    margin: 0 auto;
}

.produtos_lista li h3{
    font-size: 18px;
    line-height: 20px;
    letter-spacing: .1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px auto;
}

.produtos_lista li h3::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
}

.produtos_lista li p{
    padding: 10px 20px 20px 20px;
}

.produtos_icone{
    background-color: black;
    text-align: center;
    padding: 20px;
}

.call_to_action {
    text-align: center;
    padding-top: 40px;
    clear: both;
}

.call_to_action p{
    margin-bottom: 30px;   
}


/* Portfólio */
.portfolio{
    margin-top: 40px;
    padding-bottom: 60px;
    width: 100%;
    background-color: black;
}

.portfolio h2{
    color: #fec63e;
}

.portfolio h2::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 5px auto 40px auto;
    background-color: #fec63e;
}

.portfolio_itens li:last-child{
    margin-top: 20px;
}

.portfolio .call_to_action p{
    color: white;
}

/* Qualidade */

.qualidade img{
    display: block;
    margin: 50px auto;
}

.qualidade::after{
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background: url("../img/linhas.svg") no-repeat center;
    position: absolute;
    top: 220px;
    right: 162px;
    z-index: -1;
}

.qualidade_lista li{
    text-align: center;
    padding: 0px 40px;
    margin-top: 0px;
}

.qualidade_lista li h3{
    font-size: 18px;
    line-height: 20px;
    letter-spacing: .1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px auto;
}

.qualidade_lista li h3::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
}

/* Quebra */
.quebra{
    width: 100%;
    height: 220px;
    background: url(../img/bg-footer.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    margin-top: 60px;
    padding-top: 40px;
}

.quebra .quote-externo{
    max-width: 400px;
}


/* Footer */
.footer{
    width: 100%;
    background: black;
    color: white;
    padding: 20px 0;
}

.footer h3{
    font-size: 18px;
    line-height: 25px;
    color: #fec63e;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: bold;
}

.footer h3::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fec63e;
    margin: 6px 0 20px 0;
}

.footer_historia{
    padding-right: 40px;
}

.footer_contato ul li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

.footer_redes ul li{
    display: inline-block;
    margin-right: 10px;
}

.footer_redes ul li a{
    border: 3px solid #fec63e;
    display: block;
    padding: 10px;
}

.footer_redes ul li a:hover{
    border-color: white;
}

.copy{
    width: 100%;
    padding: 20px 0;
    background-color: #fec63e;
}

/* Javascript */
.js [data-slide] {
    position: relative;
}
.js [data-slide] > * {
    position: absolute;
    top: opx;
    opacity: 0;
}
.js [data-slide] > .active {
    position: relative;
    opacity: 1;
    transition: opacity 500ms;
}

.js [data-slide-nav] {
    display: block;
    text-align: center;
    margin-top: 20px;
}
.js [data-slide-nav] > button {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 4px;
    border: none;
    padding: 0px;
    border-radius: 6px;
    text-indent: -99px;
    overflow: hidden;
    background: #1d1d1d;
}
.js [data-slide-nav] > button.active {
    background: #fec63e;
}

.js [data-anime]{
    opacity: 0;
}
.js .fadeInDown{
    transform: translate3d(0, -20px, 0);
}
.js .anime{
    opacity: 1;
    transform: none;
    transition: opacity 800ms, transform 800ms;
}
