/* Estilos gerais */
body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

/* Header */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fec63e;
    padding: 15px 0;
}

.logo{
    padding-top: 5px;
}

.header_menu{
    text-align: right;
}

.header_menu ul li{
    margin-left: 10px;
    margin-top: 25px;
    display: inline-block;
}

.header_menu ul li a{
    margin-right: 20px;
    color: black;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}

.header_menu ul li a:hover{
    color: white;
}


/* Banner Introdução */
.introducao {
    width: 100%;
    height: 380px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 101px;
    text-align: center;
    padding-top: 80px;
}

.introducao h1{
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-externo{
    max-width: 320px;
    margin: 0 auto;
    color: white;
    
}

.quote-externo p{
    font-style: italic;
}

.quote-externo cite{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
}